<form action="/search/">
	<div class="form-group"><input name="query" type="text" placeholder="Apa yang mau kamu cari?" class="form-control"></div>
</form>

<div class="panel panel-default">
	<div class="panel-heading">Kategori</div>
	<div class="list-group">
		{% assign list_kategori = site.categories | sort %}
		{% for kategori in list_kategori %}
			<a href="/kategori/{{ kategori[0] }}" style='text-transform: capitalize;' class="list-group-item">{{ kategori[0] }}</a>
		{% endfor %}
	</div>
</div>
